
.size-drop-down{
    width:100%;
}

.warning-message{
    color:red;
}

.product-info{
    font-size: 20px;
    margin-bottom: 10px;
}

.low-stock {
    font-weight: 600;
    color: red;
}

.likes-count {
    display: flex;
    align-items: center;
    margin: 10px 0;
}

.likes-count svg {
    margin-right: 10px;
}

.carousel-item img {
    height: 900px; 
    object-fit: cover; 
}